@font-face {
    font-family: FonteTulipa;
    src: url(Ancient-Tulip.ttf);
}

@font-face {
    font-family: FonteMedieval;
    src: url(MedievalSharp-Book.ttf);
}

body {
    background: chocolate;
}

header {
    background: linear-gradient(gray, chocolate);
}

.caixa {
    font-size: 8vw;
    text-align: center;
    padding-top: 50px;
}

nav li {
    display: inline;
    text-align: center;
}

nav a {
    text-transform: uppercase;
    color: aliceblue;
    font-size: 2vw;
    text-decoration: none;
    font-family: FonteTulipa, Courier;
}

nav a:hover {
    color: bisque;
}

nav a:active {
    color: aquamarine;
}

.container_img {
    position: relative;
    padding-top: 3vw;
}

.imagem {
    border-radius: 10%;
    width: 65vw;
    box-shadow: 10px 10px 5px lightblue;
    margin-bottom: 3vh;
}

#texto {
    font-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 1.4rem;
    margin: 3vh 10vw 3vh 10vw;
}

#texto-longo{
    font-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 1.25rem;
    margin: 3vh 10vw 3vh 10vw;
    text-align: left;
}

.lista li {
    display: list-item;
    margin: 0.5em 0.5em;
    box-sizing: border-box;
}

.bandeira {
    margin: 1vh;
    border-radius: 15px;
    height: 60vh;
}

.dexter {
    margin: 1vh;
    border-radius: 15px;
    width: 40vw;
}

.rolada {
    color: aliceblue;
    background-color: brown;
    font-family: FonteMedieval, Courier;
    font-size: 4.5vh;
    transition: all 0.3s;
    margin: 5%;
    border-radius: 15%;
    cursor: pointer;
}

.rolada:hover {
    background-color: blueviolet;
    box-shadow: 1px 1px 10px lightblue;
}

.caixa_baixa {
    text-align: center;
    color: aliceblue;
    padding-top: 2vh;
}

footer {
    background: linear-gradient(chocolate, blueviolet);
}

#final {
    color: aliceblue;
    text-align: center;
    font-family: FonteMedieval, Courier;
    font-size: 1.5em;
    cursor: pointer;
}

.container_txt {
    font-family: FonteMedieval;
    font-size: 40px;
    color: white;
    margin-bottom: 2vh;
}

hr{
    color: #5A0A80;
}

@media only screen and (max-width: 700px) {
    #texto {
        font-size: 1rem;
        margin: 3vh 8vw 3vh 8vw;
    }

    #texto-longo{
        font-size: 1rem;
        margin: 3vh 8vw 3vh 8vw;
    }

    .bandeira{
        width: 50vw;
        height: auto;
    }

    .imagem{
        width: 80vw;
        height: auto;
    }

    .dexter{
        width: 75vw;
        height: auto;
    }
}